.section {
    margin-top: 2rem;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: var(--primary);
    border: 2px solid var(--border);
}
.textbox-section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: aquamarine;
    width: 60%;
    padding: 2rem 1rem;
    border: 10px dashed var(--border);
}
.button-section {
    display: flex;
    justify-content: center
}